.fruit {
  strong {
    font-size: 1.1em;
    text-decoration: underline;
  }
  em {
    font-size: 1.4em;
    font-style: normal;
    font-weight: bold;
    padding: 0.2em;
    border: 1px solid black;
  }
}
